-e git+https://github.com/dubirajara/django-tagulous.git@master#egg=django_tagulous-django3.0
-e git+https://github.com/wuuuduu/django-summernote.git@django_3_0__support#egg=django-summernote-django3.0
-e git+https://github.com/dubirajara/django-cookie-law@master#egg=django-cookie-law-django3.0
-e git+https://github.com/mbi/django-classy-tags.git@master#egg=django-classy-tags-django3.0
dj-config-url==0.1.1
dj-database-url==0.5.0
Django==3.0.3
graphene-django==2.8.0
gunicorn==20.0.4
flake8==3.7.9
psycopg2-binary==2.8.4
python-decouple==3.3
whitenoise==5.0.1
