
<div id="CookielawBanner">
    <div class="container">
        <p style="text-align:center;">
Utilizamos cookies propias y de terceros para ofrecer nuestros servicios, mostrar publicidad y recoger información estadística. Al continuar con la navegación entendemos que lo acepta. Puede encontrar información sobre cómo borrar las cookies de su navegador en <a href="https://www.google.com/search?q=borrar+cookies+navegador">Google</a>.
        </p>
        <p style="text-align:center;"><a class="btn pull-center" style="padding:4px; font-size: 17px;" href="javascript:Cookielaw.createCookielawCookie();">Aceptar</a></p>
    </div>
</div>
