{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Blog{% endblock %}

{% block content %}
				<br>
				<br>
				<br>
              <div class="row text-center clearfix">
                <div class="col-sm-8 col-sm-offset-2">
                  <h2 class="title-one">Our Blog</h2><br><br>
                </div>
                </div>
				<div class="row striped">
                {% for post in posts %}
                <div class="col-sm-4">
                  <div class="single-blog">
                    <img src="{{ post.photo }}" class="img-thumbnail" alt="image">
                    <h2>{{ post.title }}</h2>
                    <ul class="post-meta">
                      <li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> {{ post.user.username }}</li>
                      <br>
                      <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> {{ post.created_at|naturaltime }}</li>
                    </ul>
                    <div class="blog-content">
                      <p>{{ post.content|safe|truncatewords:"20" }}</p>
                    </div>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-info" role="button">Ler Mas</a>
                </div>
              </div>
                  {% if forloop.counter|divisibleby:3 and not forloop.last %}
                  </div><br><div class="row">
      {% endif %}
    {% endfor %}
    </div>
    
<div class="row text-center"></div>
<br>

<div class="row text-center">
<ul class="pager">
  <li>
    {% if page_obj.has_previous %}
         <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
         {% else %}
            <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
        </li>
        {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
            {% endfor %}
  <li>
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">Next</a>
       {% else %}
                <li class="disabled"><span>&raquo;</span></li> 
      {% endif %}
    </li>
</ul>
</div>

</div>

{% endblock %}