{% extends 'baseblog.html' %}

{% load humanize %}

{% block title %}{{ posts.title }}{% endblock %}

{% block content %}

    <div class="row text-center" style="padding-top: 120px;">
<div class="col-sm-8 col-sm-offset-2">
<img class="img-responsive center-block" src="{{ posts.photo }}" alt="Image">
<h1>{{ posts.title }}</h1>
    <span><i class="fa fa-clock-o"></i> {{ posts.created_at|naturaltime }}</span>

          <!-- Post Content -->
        <br><br>
          <p>{{ posts.content|safe|linebreaks }}</p>

          <hr>
    <div class="addthis_inline_share_toolbox"></div>

</div>
    </div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59df5f9b882fb1d2"></script>{% endblock %}